.content-wrapper{
	    background-color: #f4f6f9 !important;
}
.box{
	    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
	    border-top:0px;
}
.box-body{
	padding: 30px !important;
}
section.content-header {
    border-radius: 0;
    border-top: 1px solid #f9f9f9;
    background: #fff;
    display: block;
    position: relative;
        background: #fff !important;
            padding: 20px 15px;
}